<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/public/home.css">
    
</head>
<body>
    <ul>
        <li><a href="#">Quyết.Đê!</a></li>
        <li><a href="/ask">Hỏi Nhanh</a></li>
        <li><a href="#">Đáp Gọn</a></li>
    </ul>
    
    <form action="/answer" method="POST">
        <button type="submit" class="btn" name="btn-yesno" value="yes">Đúng/Có/Phải</button> 
        <button type="submit" class="btn" name="btn-yesno" value="no">Sai/Không/Trái</button> 
    </form>
</body>
</html>